.passwordInput {
	margin-top: 5%; 
	text-align: center;
	display: block;
}
.button1C {
	margin: 0;
	position: absolute;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#avtext {
	display: none;
	text-align: center;
}
.asciiC {
	display: none; 
	align-items: center;
	text-align: center;
	font-size: 30px;
}